h1 {
margin-top: 10px;
    margin-left: 50px;
    font-size: 40px;
    color: black;
}
.navbar {
    margin-top: -10px;
}


.nav-link{
    font-size: 19px;
    color: white;
}

.navbar-brand {
    font-weight: bold;
    font-size: 25px;
    color: white;
}


.small-image {
    width: 40px;
    height: auto;
}


p {

}

.header-info{
    position: relative;
    top:-9px;
    display:flex;
    justify-content: space between;
    background: #1E7153;
    height:35%;
}
.header-photo {
    width: 35%;
}
.scale {
     display: flex;           /* Включаем Flexbox */
  justify-content: center; /* Горизонтальное выравнивание по центру */
  align-items: center;     /* Вертикальное выравнивание по центру */
  height: 100%;
    border-radius: 10px;
    transition: 0.4s;
}

.scale:hover {
    transform: scale(1.1);
}
.header-title {
    width: 65%;
    display: flex;
    padding-left: 50px;
    align-items: center;
}
.header-title h1 {
    color:white;
}
.author {

}
.author h2 {
    color: #E9E9E9;
}

.main-course {
    margin: 30px 100px 0 100px;
    display:flex;
    justify-content: space between;
}

.right-btns {
padding-top:50px;
width: 50%;
}



.buy {
width: 300px;
height: 45px;
margin:  10px auto 10px 10%;
    display:flex;
    justify-content:center;
    background-color: #04AA6D;
  color: white;
  align-items: center;
  bottom: 50px;
  border: none;
  border-radius:10px;
  transition: 0.3s;
  text-decoration: none;
}
.buy:hover {
   background-color: #1E7153;
    transform: scale(1.02);

}
.buy h3{
    display:flex;
    justify-content: center;
    text-align:center;
}
.like {
width: 300px;
height: 45px;
margin:  10px auto 10px 10%;

    display:flex;
    justify-content:center;
  color: #FF9D00 ;
   align-items: center;
  border: 2px solid #FF0000;
  padding-top: 10px;
  padding-bottom:10px;
  bottom: 40px;
  border-radius:10px;
}


/* Детали (теги, язык, стоимость) */
.course-details {
    padding: 10px;
    background-color: #f9f9f9;
    position: absolute;
    bottom: -100%; /* Панель скрыта по умолчанию */
    left: 0;
    right: 0;
    transition: bottom 0.3s ease;
}

.left-description {
    width: 65%;
    padding-left: 50px;

}
.btns {
    width:35%;
}

.btns p {
    padding: 0 0 0 10%;
    display: flex;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

.desc p strong{
    font-size: 28px;

}

.desc {
padding-bottom: 50px;
}

.diff-level p strong {
    font-size: 20px;
}

.diff-level {
padding-bottom: 50px;
}

.language p strong {
    font-size: 20px;
}

.language {
    padding-bottom: 50px;
}


.btn-save {

}
.btn-save button {
    padding: 10px 15px;
    overline:none;
    background-color: #7BCA38;
    border-radius: 15px;
    border: none;
    color:white;
    cursor: pointer;
    transition: 0.3s ease;
}
.btn-save button:hover {
    background-color: #59AE10;
}


.edit-course button {
    width: 300px;
    height: 45px;
    margin:  10px auto 10px 10%;
    display:flex;
    justify-content:center;
    background-color: #FF9D00;
  color: white;
  align-items: center;
  bottom: 50px;
  border: none;
  border-radius:10px;
  transition: 0.3s;
}
.edit-course button:hover {
   background-color: #D78707;
    transform: scale(1.02);

}

.edit-course {

}
.href-edit {
    text-decoration: none;
}