.navbar {
    margin-top: -10px;
}


.nav-link{
    font-size: 19px;
    color: white;
}

.navbar-brand {
    font-weight: bold;
    font-size: 25px;
    color: white;
}


.small-image {
    width: 40px;
    height: auto;
}

h2 {
position:
    left:50%;
}

.btn-search {
display: flex;
    justify-content: center;
    position:relative;
    width: 500px;
    left: 15%;
}

/*Плейсхолдеры*/
.username {
width: 250px;

    padding: 10px 15px;
    border-radius: 10px;
    outline: none;
    transition: all 0.3s ease;
}

.pass {
margin: 10px 0 0 0;
    top: 10%;
width: 250px;
    padding: 10px 15px;
    border-radius: 10px;
    outline: none;
    transition: all 0.3s ease;
}

.conf-pass {
    position: relative;
    margin: 10px 0 0 0;
    top: 10%;
    width:70%;
     max-width: 250px;
    padding: 10px 15px;
    border-radius: 10px;
    margin:
    outline: none;
    transition: all 0.3s ease;
}

.name {
    position: relative;
    margin: 10px 0 0 0;
    top: 10%;
    width:70%;
     max-width: 250px;
    padding: 10px 15px;
    border-radius: 10px;
    margin:
    outline: none;
    transition: all 0.3s ease;
}

a {
    text-decoration: none;
}

a.login{
    color: gray;
    padding: 0 20px 0 0;
    display: inline-block;
     text-decoration: none;
}
.login {
    display:flex;
justify-content: space between;
}

span {
padding-left: 5px;
    color: black;
}

.login-lostpass {
font-size:14px;

    overline: none;
    color: gray;
}

.lost-pass {
display: inline;
}

.reg{
    background-color: #28a745;
    color: #fff;
    border: none;
    width: 250px;
    border-radius: 5px;
    font-size:16px;
    cursor: pointer;
    margin: 20px 0 10px 0;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}
.reg:hover {
    background-color: #218838;
}

.form-reg {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.diff-level_language {
    display: flex;
    justify-content: center;
    align-items: center;
}
.name-title input[type="text"] {
    padding: 10px 15px;
    border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    transition: 0.3s ease;
}

.description textarea[type="text"] {
    padding: 15px 15px;
    margin-top: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    transition: 0.3s ease;

}
.custom-textarea {
    width: 20%;
    padding: 15px;
    margin-top:15px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #ccc;
}
.custom-difficulty {
    width: 15%;
    padding: 15px;
    margin-top: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.custom-language {
    width: 15%;
    padding: 15px;
    margin-top: 15px;
    margin-left: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.custom-price {
    width: 15%;
    padding: 15px;
    margin-top: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.custom-photo {
    display: none;
}

/* Стили для кастомной кнопки */
.custom-photo + .custom-file-label {
    margin-top:15px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;  /* Цвет фона */
    color: white;  /* Цвет текста */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

/* Стили для кнопки при наведении */
.custom-photo + .custom-file-label:hover {
    background-color: #45a049;
}

.custom-tags {
    display: flex;
    justify-content: space between;
    max-width: 500px;
}