{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Main page{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'main/css/index.css' %}">
{% endblock %}

{% block content %}
    <div class="course-detail">
        <h1>{{ course.title }}</h1>
        <p><strong>Уровень сложности:</strong> {{ course.difficulty_level }}</p>
        <p><strong>Цена:</strong> {{ course.price }} ₽</p>
        <p><strong>Язык:</strong> {{ course.language }}</p>
        <p><strong>Описание:</strong> {{ course.description }}</p>

        <h3>Теги:</h3>
        <ul>
            {% for tag in course.tags.all %}
                <li>{{ tag.name }}</li>
            {% empty %}
                <li>Нет тегов</li>
            {% endfor %}
        </ul>

        <h3>Фото курса:</h3>
        {% if course.photo %}
            <img src="{{ course.photo.url }}" alt="{{ course.title }}" style="width: 50%; max-width: 500px;">
        {% else %}
            <p>Фото не доступно</p>
        {% endif %}
    </div>
{% endblock %}
