{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Main page{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'main/css/course.css' %}">
{% endblock %}

{% block content %}
    <div class="course-detail">

        <div class="header-info">

            <div class="header-title">
                <h1>{{ course.title }}</h1>
            </div>
            <div class="header-photo">
                {% if course.photo %}
                    <img src="{{ course.photo.url }}" alt="{{ course.title }} " class="scale">
                {% else %}
                    <p>Фото не доступно</p>
                {% endif %}
            </div>
        </div>
        <div class="main-course">
            <div class="left-description">
                <div class="desc">
                  <p><strong>Описание:</strong><br> {{ course.description }}</p>
                </div>
                <div class="diff-level">
                    <p><strong>Уровень сложности:</strong><br> {{ course.difficulty_level }}</p>
                </div>
                <div class="language">
                    <p><strong>Язык:</strong> {{ course.language }}</p>
                </div>


                <h3>Теги:</h3>
                <ul>
                    {% for tag in course.tags.all %}
                        <li>{{ tag.name }}</li>
                    {% empty %}
                        <li>Нет тегов</li>
                    {% endfor %}
                </ul>
                {% if request.user.is_authenticated %}
                    <form method="post">
                        {% csrf_token %}
                        <div class="favorite-toggle">
                            <label for="favorite">
                                {% if is_favorite %}
                                    <input type="checkbox" name="favorite" id="favorite" checked> Любимое
                                {% else %}
                                    <input type="checkbox" name="favorite" id="favorite"> Любимое
                                {% endif %}
                            </label>
                        </div>
                        <button type="submit" style="margin-top: 10px;">Сохранить изменения</button>
                    </form>
                {% endif %}
            </div>
        <div class="btns">
                {% if has_course %}
                    <p>Вы уже приобрели этот курс</p>
                    <a href="{% url 'course_progress' course.id %}" class="buy">
                        Перейти к прохождению
                    </a>
                {% else %}
                    <a href="{% url 'payment' course.id %}" class="buy">
                        Купить
                    </a>
                {% endif %}
            </div>
        </div>
        {% if request.user.is_authenticated and course in request.user.profile.created_courses.all %}
            <a href="{% url 'edit_course' course.id %}" class="btn btn-edit">Редактировать</a>
        {% endif %}
    </div>
</div>
{% endblock %}
