{% extends 'main/layout.html' %}
{% load static %}
{% load embed_video %}

{% block title %}Прохождение курса: {{ course.title }}{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'main/css/index.css' %}">
{% endblock %}

{% block content %}
<h1>Прохождение курса: {{ course.title }}</h1>
<div class="course-progress">

    <div class="modules-course">
        <ul>
    {% for module in modules %}
    <li>

        <a href="{% url 'module_detail' module.id %}" class="link-course-progress">{{ module.title }}</a>
        {% if module.children.all %}
        <ul>
            {% for submodule in module.children.all %}
            <li>
                <a href="{% url 'module_detail' submodule.id %}" class="link-course-progress-2">{{ submodule.title }}</a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </li>
            <div class="start-course">
        <a href="{% url 'module_detail' module.id %}">
    <button>Начать прохождение</button></a>
    {% endfor %}


    </div>
</ul>
</div>
    {% if course.photo %}
        <div class="photo-course">
                    <img src="{{ course.photo.url }}" alt="{{ course.title }} " width="400px;">
                {% else %}
                    <p>Фото не доступно</p>
                {% endif %}
    </div>
</div>
{% endblock %}
