{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Страница преподавания{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'main/css/login.css' %}">
{% endblock %}

{% block content %}

<div style="text-align: center;">

    <h2 style="margin:30px 0 30px 0;">Создание курса</h2>

    {% if not user.profile.isTeacher %}
        <p>Войдите в аккаунт, являющийся преподавателем, чтобы создать курс.</p>
    {% else %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-reg">
                <div class="name-title">
                    <input type="text" name="form.title" placeholder="Введите название курса"  >
                    </div>
                </div>

                <div class="description">
                    {{ form.description }}
                </div>

                <div class="diff-level_language">
                    {{ form.difficulty_level }}
                    {{ form.language }}
                </div>
                <div>
                    {{ form.price }}
                </div>

                <div>
                    {{ form.photo }}
                   <input type="file" name="photo" class="custom-photo" id="id_photo">
                    <label for="id_photo" class="custom-file-label" id="file-label">Выберите изображение</label>
                <div>
                    <label for="id_tags">Теги:</label>
                    {{ form.tags }}
                </div>

                <div>
                    <label for="id_video_url">Ссылка на видео:</label>
                    {{ form.video_url }}
                </div>

                <button type="submit" class="reg">Создать курс</button>

        </form>
    {% endif %}

    <div class="login-lostpass">
        <a href="/profile" class="login">
            <div class="login">
                <p>Перейти в профиль</p>
            </div>
        </a>
    </div>
</div>

<script>
    const fileInput = document.getElementById('id_photo');
    const fileLabel = document.getElementById('file-label');

    fileInput.addEventListener('change', function() {
        if (fileInput.files.length> 0) {
        const fileName = fileInput.files[0].name;
        fileLabel.textContent = fileName;
        }
        else {
        fileLabel.textContent = 'Выберите изображение';
        }
        });
</script>

{% endblock %}
